.copyable-label, .copyable-label:focused {
    -fx-color: #07152b;
    -fx-font-weight: bold;
    -fx-alignment: top-center;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font: 10 arial;
}